<div class="display_restaurant">
  <div class="one_fourth">
    <img src="<%= restaurant.photo_uri %>"/>
  </div>
  <div class="one_third">
    <div class="restaurant_info">
      <p><%= link_to restaurant.name, restaurant_path(restaurant) %>

      <p class="smaller"><%= restaurant.location %></p>

      <p class="smaller"><%= restaurant.rating %> out of 5 stars</p>
    </div>
    <% restaurant.dietary_option_list.each do |option| %>
      <div class="option_tags"><%= option %></div>
    <% end %>
    <div>
      <%= link_to 'Remove from favorites', restaurant_favorite_restaurant_path(restaurant_id: restaurant.id, id: find_fave_restaurant(restaurant)),
                  method: 'delete', data: {confirm: "Are you sure?"} %>
    </div>
  </div>
</div>
