<h2>My Profile</h2>

<h4>My favorite restaurants: </h4>

<% @favorite_restaurants.each do |restaurant| %>
  <div class="display_restaurant">
    <div class="one_fourth">
      <img src="<%= restaurant.photo_uri %>"/>
    </div>
    <div class="one_third">
      <div class="restaurant_info">
        <p><%= link_to restaurant.name, restaurant_path(restaurant) %>

        <p class="smaller"><%= restaurant.location %></p>

        <p class="smaller"><%= restaurant.rating %> out of 5 stars</p>
      </div>
      <% restaurant.dietary_option_list.each do |option| %>
        <div class="option_tags"><%= option %></div>
      <% end %>
      <div>
        <a href="/restaurants/<%= restaurant.id %>/favorite_restaurants/<%= FavoriteRestaurant.find_by(restaurant_id: restaurant.id).id %>" data-method='delete'>
          Remove from favorites</a></p>
      </div>
    </div>
  </div>
<% end %>






<h4>My preferences: </h4>

<ul>
  <% @preferences.each do |preference| %>
    <li><%= preference.preference_name %></li>
  <% end %>
</ul>
