<div class="sign-in">
  <h2>Sign up</h2>

  <p>Sign up to add and edit restaurants, make comments, keep track of your favorite restaurants, and save your
  preferences.</p>

  <div id="sign_in_flash">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %>
      <br/>
      <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %>
      <br/>
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %>
      <br/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
