<div id="main">
  <div id="main_container">
    <form action="/restaurants" method="get">
      <input type="hidden" name="search" value="true"/>

      <div id="search_location">
        <p class="dropbox">Find Restaurants in: </p>
        <select name="homepage_location" class="dropbox">
          <option value="Highlands, Denver">Highlands, Denver</option>
          <option value="Pearl Street, Boulder">Pearl Street, Boulder</option>
        </select>
      </div>


      <div id="search_options">
        <div id="format">
          <% Restaurant::DIETARY_OPTIONS.each do |option| %>
            <p class="options">
              <%= check_box_tag "option[#{option}]" %>
              <%= label_tag "option[#{option}]", option %>
            </p>
          <% end %>
        </div>

        <% if user_signed_in? %>
          <%= check_box_tag :save %>
          <%= label_tag(:save, "Save my dietary preferences") %>
        <% end %>
      </div>

      <div id="submit_button">
        <input type="submit" name="go" value="Go"/>
        <input type="submit" name="surprise" value="Surprise me"/>
      </div>
    </form>

    <div id="surprise">
      <% if @surprise %>
        <%= link_to @surprise.name, @surprise %>
      <% end %>
    </div>

  </div>
</div>



