<div id="main">
  <div id="main_container">
    <form action="/restaurants" method="get">
      <input type="hidden" name="search" value="true"/>

      <div id="search_location">
        <p class="dropbox">Find restaurants in: </p>
        <select name="homepage_location" class="dropbox" id="chosen-dropbox">
          <option value="Highlands, Denver">Highlands, Denver</option>
          <option value="Pearl Street, Boulder">Pearl Street, Boulder</option>
        </select>
      </div>

      <div id="main_search">
        <p>I'm looking for <span>(select all that apply)</span>...</p>

        <div id="search_options">
          <div id="format">
            <% Restaurant::DIETARY_OPTIONS.each do |option| %>
              <p class="options">
                <%= check_box_tag "option[#{option}]" %>
                <%= label_tag "option[#{option}]", option %>
              </p>
            <% end %>
          </div>

          <p id="save_preferences">
            <% if user_signed_in? %>
              <%= check_box_tag :save %>
              <%= label_tag(:save, "Save my dietary preferences") %>
            <% end %>
          </p>
        </div>

        <div id="submit_button">
          <input type="submit" name="go" value="Go" class="submit_button" id="go"/>

          <p class="bottom">or<input type="submit" name="surprise" value="Choose for me" class="submit_button" id="random"/>
          </p>
        </div>
      </div>
    </form>

    <% if @surprise %>
      <p>Here's what we picked for you:</p>
      <hr>
      <div class="display_restaurant" id="surprise">
        <div class="one_fourth">
          <img src="<%= @surprise.photo_uri %>"/>
        </div>
        <div class="one_third">
          <div class="restaurant_info">
            <p><%= link_to @surprise.name, @surprise %></a></p>

            <p class="smaller"><%= @surprise.location %></p>

            <p class="smaller"><%= @surprise.rating %> out of 5 stars</p>
          </div>
          <% @surprise.dietary_option_list.each do |option| %>
            <div class="option_tags"><%= option %></div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>



