<div id="arrows_div">

  <a href="/restaurants/<%= @restaurant.id %>/facts/<%= fact.id %>}/likes?up=true" data-method="post"> <%= image_tag("up_arrow.png", id: "up_arrow", class: "arrows") %></a>
  <p class="arrows" id="votes"><%= fact.get_likes.size %></p>
  <a href="/restaurants/<%= @restaurant.id %>/facts/<%= fact.id %>}/likes?down=true" data-method="post"><%= image_tag("down_arrow.png", id: "down_arrow", class: "arrows") %></a>

</div>