<div class="display_restaurant">
  <div class="one_fourth">
    <img src="<%= restaurant.photo_uri %>"/>
  </div>
  <div class="one_third">
    <div class="restaurant_info">
      <p><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %> </a></p>

      <p class="smaller"><%= restaurant.location %></p>

      <p class="smaller"><%= restaurant.rating %> out of 5 stars</p>
      <div class="star" data-rating="<%= restaurant.rating %>"></div>
    </div>
    <% restaurant.dietary_option_list.each do |option| %>
      <div class="option_tags"><%= option %></div>
    <% end %>
  </div>
</div>
<% counter +=1 %>
  <% if counter.even? %>
  <hr>
<% end %>

<script>
  $(document).ready(function(){
    my_restaurant = <%= restaurant.to_json.html_safe %>;
    StarRating.initialize(my_restaurant);
  });
</script>
