<%= form_for @restaurant, url: "/restaurants/#{@restaurant.id}" do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :website %>
    <%= f.text_field :website %>
  </p>

  <p>
    <%= f.label :location %>
    <%= f.select :location, [['Highlands, Denver', 'Highlands, Denver'], ['Pearl Street, Boulder', 'Pearl Street, Boulder']] %>
  </p>

  <% Restaurant::DIETARY_OPTIONS.each do |option| %>
    <% if @restaurant.dietary_option_list.include? option %>
    <% checked = true  %>
      <% end %>

    <p>
      <%= check_box_tag "option[#{option}]", "0", checked %> <%= option %>
    </p>
  <% end %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>