<%= form_for @restaurant do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :website %>
    <%= f.text_field :website %>
  </p>

  <p>
    <%= f.label :location %>
    <%= f.select :location, [['Highlands, Denver', 'Highlands, Denver'], ['Pearl Street, Boulder', 'Pearl Street, Boulder']] %>
  </p>

  <% Restaurant::DIETARY_OPTIONS.each do |option| %>
    <p>
      <%= check_box_tag "option[#{option}]" %> <%= option %>
    </p>
  <% end %>


  <p>
    <%= f.submit "Add this Restaurant" %>
  </p>
<% end %>