<h2>Add a Restaurant</h2>

<% if @restaurant %>
  <% if @restaurant.errors %>
    <% @restaurant.errors.full_messages.each do |message| %>
      <p class="error"><%= message %></p>
    <% end %>
  <% end %>
<% end %>


<%= form_for @restaurant do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :location %>
    <%= f.select :location, [['Highlands, Denver', 'Highlands, Denver'], ['Pearl Street, Boulder', 'Pearl Street, Boulder']] %>
  </p>

  <% Restaurant::DIETARY_OPTIONS.each do |option| %>
    <% if @restaurant.dietary_option_list.include? option %>
      <% checked = true  %>
    <% end %>
    <p>
      <label>
        <%= check_box_tag "option[#{option}]","0", checked %>
        <%= option %>
      </label>
    </p>
  <% end %>

  <p>Optional fields: </p>

  <p>
    <%= f.label :website %>
    <%= f.text_field :website %>
  </p>

  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.submit "Add this Restaurant" %>
  </p>
<% end %>
