<h2>Here ya go...</h2>
<div id="map_canvas" data-coordinates='{"latitude":<%= @latitude %>, "longitude": <%= @longitude %>}' data-restaurants='<%= @restaurants.to_json.html_safe %>'></div>

<%= render partial: "restaurants/restaurant", collection: @restaurants, locals: {counter: 0} %>

<% if user_signed_in? %>
  <p>
    <%= link_to 'Add a Restaurant', new_restaurant_path %>
  </p>
<% end %>