<h1><%= @restaurant.name %></h1>


<a href=<%= @restaurant.website %>>Restaurant Website</a>
<p>Location: <%= @restaurant.location %></p>

<ul>
<% @restaurant.dietary_option_list.each do |option| %>

  <li> <%= option %></li>

<% end %>
</ul>


<p><a href="/restaurants/<%= @restaurant.id %>/edit">Update Restaurant Information</a></p>
<p><a href="/restaurants">Take me back to the restaurant list</a></p>

<%= form_for @restaurant, url: "/restaurants/#{@restaurant.id}", method: "delete" do |f| %>
  <%= f.submit :delete %>
<% end %>
