<h2><%= @restaurant.name %></h2>

<img src="<%= @restaurant.photo_uri %>"/>

<p><a href=<%= @restaurant.website %>>Restaurant Website</a></p>
<p>Neighborhood: <%= @restaurant.location %></br>
  <a href="http://maps.google.com/maps?q=<%= @restaurant.address %>"><%= @restaurant.address %></a></p>


<ul>
  <% @restaurant.dietary_option_list.each do |option| %>

    <li> <%= option %></li>

  <% end %>
</ul>

<% if @restaurant.rating %>
  <p><%= @restaurant.rating %> out of 5 stars</p>
<% end %>

<% if user_signed_in? %>
  <%= form_for [@restaurant, @favorite_restaurant] do |f| %>
    <%= f.submit "Favorite this restaurant" %>
  <% end %>

<% end %>

<% num_favorites = @restaurant.users.length %>
<% if num_favorites == 1 %>
  <p><%= num_favorites %> Favorite</p>
<% else %>
  <p><%= num_favorites %> Favorites</p>
<% end %>

<p>Tidbits people have shared about <%= @restaurant.name %>:</p>

<ul>
  <% @restaurant.facts.each do |fact| %>
    <li><%= fact.body %>   Added by <%= fact_user_name(fact) %> <%= time_ago_in_words(fact.created_at) %> ago</li>
    <% if user_signed_in? && current_user.id == fact.user_id %>
      <li><%= link_to 'Delete my fact', restaurant_fact_path(@restaurant, fact), :confirm => 'Are you sure?', :method => :delete %></li>
    <% end %>
  <% end %>
</ul>

<p>Have something about this restaurant you want to share?</p>
<% if user_signed_in? %>
  <%= form_for [@restaurant, @fact] do |f| %>
    <%= f.label :body, 'Enter your fact: ' %>
    <%= f.text_field :body %>
    <%= f.submit "Add Fact" %>
  <% end %>
<% else %>
  <p>You must <%= link_to 'sign in', new_user_session_path %> if you want to share something.</p>
<% end %>


<p><a href="/restaurants">Show me all the restaurants ever</a></p>

<% if user_signed_in? %>
  <p><a href="/restaurants/<%= @restaurant.id %>/edit">Edit Restaurant Information</a></p>
  <% if current_user.admin? %>
    <%= form_for @restaurant, url: "/restaurants/#{@restaurant.id}", method: "delete" do |f| %>
      <%= f.submit :delete %>
    <% end %>
  <% end %>
<% end %>
