<h2><%= @restaurant.name %></h2>
<div class="show_sections">
  <div class="one_half">
    <img id="restaurant_photo" src="<%= @restaurant.photo_uri %>"/>
  </div>

  <div id="restaurant_info" class="one_half">
    <% if @restaurant.rating %>
      <p><%= @restaurant.rating %> out of 5 stars</p>
    <% end %>

    <p class="neighborhood">Neighborhood: <%= @restaurant.location %></p>

    <p class="smaller address">
      <span><%= @restaurant.address %></span>
      <a href="http://maps.google.com/maps?q=<%= @restaurant.address %>">
        Show me on the map »
      </a>
    </p>

    <p class="smaller"><a href=<%= @restaurant.website %>>Restaurant Website »</a></p>

    <div>
      <%= render 'restaurants/favorite_restaurant_button' if user_signed_in? %>

      <p class="new_favorite_restaurant">
        <%= @restaurant.num_favorites %>
        <%= image_tag("heart.png", class: "heart_img") %>
      </p>
    </div>

  </div>
</div>

<div class="show_sections">
  <%= render partial: "restaurants/restaurant_dietary_option_tags", collection: @restaurant.dietary_option_list, as: :option %>
  <p></p>
  <hr>
  <p class="bold">Tidbits people have shared about <%= @restaurant.name %>:</p>

  <div class="facts">
    <% if @restaurant.facts.empty? %>
      <p class="not_bold">(Be the first to add something.)</p>
    <% else %>
      <%= render partial: "restaurant_facts", collection: @restaurant.facts, as: :fact %>
    <% end %>
  </div>
  <p></p>

  <p class="bold" id="smaller">Have something about this restaurant you want to share?</p>
  <% if user_signed_in? %>
    <%= render "add_fact_form" %>
  <% else %>
    <p>You must <%= link_to 'sign in', new_user_session_path %> if you want to share something.</p>
  <% end %>
</div>
<br>
<br>
<% if user_signed_in? %>

  <%= link_to 'Edit Restaurant Information', edit_restaurant_path(@restaurant), class: 'link_buttons' %>
  <% if current_user.admin? %>

    <%= form_for @restaurant, url: "/restaurants/#{@restaurant.id}", method: "delete" do |f| %>
      <%= f.submit :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
<% end %>
