<h1><%= @restaurant.name %></h1>

<img src="<%= @restaurant.photo_uri %>"/>

<p><a href=<%= @restaurant.website %>>Restaurant Website</a></p>
<p>Neighborhood: <%= @restaurant.location %></br>
<a href="http://maps.google.com/maps?q=<%= @restaurant.address %>"><%= @restaurant.address %></a></p>


<ul>
  <% @restaurant.dietary_option_list.each do |option| %>

    <li> <%= option %></li>

  <% end %>
</ul>

<% if @restaurant.rating %>
  <p><%= @restaurant.rating %> out of 5 stars</p>
<% end %>


<p><a href="/restaurants/<%= @restaurant.id %>/edit">Edit Restaurant Information</a></p>
<p><a href="/restaurants">Take me back to the restaurant list</a></p>

<%= form_for @restaurant, url: "/restaurants/#{@restaurant.id}", method: "delete" do |f| %>
  <%= f.submit :delete %>
<% end %>
